@import url("Pretendard.css");

* {
    font-family: "Pretendard";
}

body {
    overflow-x: hidden;
}

.router {
    text-decoration: none;
    color: #646f7c;
    background-color: white;
    border: none;
}

.img-btn {
    cursor: grab;
}
